version: '3.8'

services:
  api:
    build: .
    container_name: web_api
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      - POSTGRES_USER=dhawala
      - POSTGRES_PASSWORD=123
      - POSTGRES_DB=managedb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: