apiVersion: v1
kind: Service
metadata:
  name: app-service
spec:
  type: NodePort
  selector:
    app: web_api # this says only the pods with the label app: web_api will recieve traffic from this service
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30000 #This is the port on which the service will be exposed on each node in the cluster
      