apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment 
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web_api
  template: 
    metadata:
      labels:
        app: web_api
    spec:
      containers:
      - name: web_api
        image: web_api_image:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        env:
          - name: DATABASE_URL
            valueFrom:
              secretKeyRef:
                name: db-credentials
                key: database_url
