apiVersion: v1
kind: Service
metadata:
  name: postgres-service
spec:
  type: NodePort
  selector:
    app: postgres_db # this says only the pods with the label app: postgres_db will recieve traffic from this service
  ports:
    - port: 5432
      targetPort: 5432
      nodePort: 30001 #This is the port on which the service will be exposed on each node in the cluster
      