<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    
    <h1>Welcome to Dashboard!</h1>
    <a href="/registerstd"><button>Register New students</button></a>
    <br><br>
    <a href="/stdlist"><button>View Students</button></a>
    <br><br>
    <a href="/updatestd"><button>Update students</button></a>
    <br><br>
    <a href="/deletestd"><button>Delete students</button></a>
    <br><br>
 
</body>
</html>
